# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/*
data/processed/*

# Keep empty data folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db